@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background-color: #121927
}

@media (min-width: 320px) and (max-width: 720px) {

  .section {
    /* display: grid;
    grid-template-columns: 4fr 4fr 4fr; */
    display: flex;
    justify-content: center;
  }
  .content {
    width: 100%;
    max-width: 420px;
  }
  .container {
    display: none;
  }
}

@media (min-width: 720px) {
  .section {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
  }
  .content {
    width: 100%;
    max-width: 420px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 40px;
  }
}