.maxLong {
    white-space: nowrap;        /* Prevent text from wrapping */
    overflow: hidden;           /* Hide overflowing content */
    text-overflow: ellipsis;    /* Display an ellipsis (...) for overflowed content */
}

.maxLongDate {
    white-space: nowrap;        /* Prevent text from wrapping */
    overflow: hidden;           /* Hide overflowing content */
    text-overflow: ellipsis;    /* Display an ellipsis (...) for overflowed content */
    max-width: 80px; 
}
